* {
    margin: 0;
    padding: 0;
}

nav#menu a#saibamais{
    font-weight: 800;
}

#area-logo {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 4%;
    align-items: center;
}

#logo img {
    width: 55%;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: -50px;
}

#area-logo h1 {
    text-indent: -9999px;
}

#area-logo h3{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #D4BEA7;
    font-weight: 100;
    font-size: 1em;
}

#description {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 1.1em;
    color: #BA804E;
}

a, a:visited {
    text-decoration: none;
    color: #BA804E;
}


#contents {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}
.image img {
    border-radius: 15px;
}

.right-content {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-left: 48%;
    margin-bottom: 10%;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 15px;
}

.left-content {
    width: 45%;   
    margin-bottom: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.03);
    padding: 15px;
}

.right-content h2 {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: -30%;
    font-weight: 800;
    font-size: 1em;
}

.left-content h2 {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: -30%;
    font-weight: 800;
    font-size: 1em;
}

.right-content p {
    font-size: 0.8em;
    margin-top: 6%;
    margin-left: -30%;
    color: #D4BEA7;
}

.left-content p {
    font-size: 0.8em;
    margin-top: 6%;
    margin-left: -30%;
    color: #D4BEA7;
}

.back-imgs {
    width:250px;
    height: 250px;
    margin-top: -270px;
    margin-left: 1120px;
    overflow: hidden;
}

#double-shield {
    width: 400px;
}

.author-img {
    width:250px;
    height: 0px;
    margin-top: -500px;
    margin-bottom: 500px;
    margin-left: 1070px;
    overflow: hidden;
}

#cut-shield {
    width: 250px;
}

#shield-top {
    width: 400px;
}


.shield-top {
    width:450px;
    height: 433px;
    margin-bottom: -320px;
    margin-left: -250px;
    overflow: hidden;
}

.video-imgs {
    width:500px;
    height: 533px;
    margin-top: -420px;
    margin-left: 680px;
    overflow: hidden;
}