@use "./variables/colors" as *;

@use "./utils/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Cinzel", sans-serif;
}

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $white-color;
}

section {
    margin: 0 3rem;
    padding-top: 15vh;

    @include respond-to("laptop") {
        // margin: 0 10rem;
    }
}