@use "../variables/colors" as *;

@use "../utils/mixins" as *;

footer {
    margin: 4rem 3rem;
    text-align: center;
    color: $secondary-color;
    h2 {
        text-transform: uppercase;
        font-weight: 400;
        color: $primary-color;
        margin: 1rem 0;
        font-size: 1rem;
    }

    img {
        width: 100%;
    }

    h3 {
        margin: 2rem 0;
        text-transform: uppercase;
        font-size: .6rem;
        font-weight: 400;
    }

    h4 {
        text-transform: uppercase;
        font-size: .5rem;
        font-weight: 400;
    }

    @include respond-to("tablet") {
        margin-top: 6rem;

        h3 {
            margin: 1rem 2rem;
            font-size: .8rem;
        }
        h4 {
            font-size: .6rem;
        }
    }

    @include respond-to("laptop") {
        h2 {
            margin-bottom: 3rem;
            font-size: 1.5rem;
        }
        img {
            width: 70%;
        }

        h3 {
            padding: 0 10rem;
            margin-bottom: 2rem;
            font-size: 1rem;
        }

        h4 {
            font-size: .8rem;
        }
    }
}